<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Quan_Ly_Chi_Tieu/
    # Chuyển hướng tất cả các yêu cầu đến thư mục public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
